<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <remove name="LocalSqlServer" />
    <remove name="LocalMySqlServer" />
    <add name="KarnalConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Database.mdf;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" defaultLanguage="c#" />
    <customErrors mode="Off" />
  </system.web>
</configuration>
